body{
    height: 100vh;
    width: 100vw;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.external-container{
    background-color: hsl(212, 22%, 15%);
    height: 55vh;
    width: 90vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 340px;
    min-width: 300px;
    max-height: 385px;
}

.pic-background{
    background-color: hsl(217, 20%, 22%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-pic{
    margin: 0 -1px 1px 1px;
}

h1{
    color: white;
    margin-left: 20px;
    margin-top: -5px;
    font-family: Overpass;
}

p{
    font-size: Overpass;
    color: hsl(217, 12%, 63%);
    margin-left: 20px;
    margin-right: 25px;
    line-height: 20px;
    margin-top: -5px;
}

.rating-buttons-wrapper{
    display: flex;
    justify-content: space-between;
    margin: -10px 20px;
}

.rating{
    background-color: hsl(217, 20%, 22%);
    color: white;;
    border: none;
    border-radius: 50%;;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.rating:hover{background-color: hsl(217, 12%, 63%);}

.rating:focus{
    background-color: hsl(217, 12%, 63%);
}

.submit-btn{
    background-color: hsl(25, 97%, 53%);    
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    letter-spacing: 3px;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    height: 50px;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.attribution{
    margin-top: 20px;
}

.hide{
    display: none;
}

/* THANK YOU STATE */

.external-container-1{
    background-color: hsl(212, 22%, 15%);
    height: 55vh;
    width: 90vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 340px;
    min-width: 300px;
    max-height: 385px;
}

.thank-you-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.thank-you-pic{
    margin-top: 50px;
}

.selection{
    background-color: hsl(210, 10%, 24%);
    width: 55%;
    height: 35px;
    color:hsl(25, 97%, 53%);
    margin: 30px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    
}

.selection label{
    font-family: Overpass;
    font-size: 15px;
}

.selection-text{
    display: inline;
    color:hsl(25, 97%, 53%);
    margin: 0;
}

.external-container-1 h1{
    margin: 20px auto;
    font-family: Overpass;
}

.thank-you-message{
    text-align: center;
    line-height: 20px;
}